.message-container {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

.conversation-list {
    width: 100%;
    max-width: 600px;
    margin: 0;
}

.conversation-header {
    font-family: 'retro', sans-serif; /* Assuming 'retro' is the correct font name */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    min-height: 5vh;
    text-align: center;
    color: black;
}

.message-list {
    list-style: none;
    padding: 0;
}

.message-item {
    margin-bottom: 1.25rem;
    text-align: center;
    padding: 1.0rem;
    background: #FFC001; /* Assuming this is your yellow color */
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    width: 30%;
    font-family: 'retro', sans-serif;
    text-transform: none;
}

.message-item:hover {
    background: #000099;
    border-color: white;
    color: white;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-input {
    margin-bottom: 5rem;
}

.message-area {
    width: 400px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 3px solid black;
    border-radius: 0;
    font-family: 'retro', sans-serif;
    font-size: 15px;
    color: #D3D3D3;
}

.close-button {
    color: black;
    font-family: 'retro', sans-serif;
}

/* You might want to keep these styles for the ChatWindow component */
.message-bubble {
    padding: 8px 16px;
    border-radius: 16px;
    max-width: 70%;
}

.message-bubble.current-user {
    background-color: #1976d2;
    color: white;
}

.message-bubble.other-user {
    background-color: #e0e0e0;
}