@font-face { font-family: 'NintendoFont'; src: url("./NintendoFont.otf") format('truetype'); font-weight: 400; /* Normal weight */ font-style: normal; }
@font-face { font-family: 'RetroFont'; src: url("./RETRO.ttf") format('truetype'); font-weight: 400; /* Normal weight */ font-style: normal; }

