/* src/SpaceInvaders404.css */

.game-area {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #F5F5F5; /* Background color from theme */
    overflow: hidden;
    color: #000099; /* Text color from theme */
    text-align: center;
    font-family: 'NintendoFont', sans-serif; /* Font from theme */
  }
  
  .targets {
    position: relative;
    width: 100%;
    height: 50px;
  }
  
  .target {
    position: absolute;
    width: 5%;
    height: 30px;
    background-color: #FFC001; /* Yellow from theme */
    color: #069330; /* Green from theme */
    font-size: 20px;
    text-align: center;
  }
  
  .player {
    position: absolute;
    bottom: 10px;
    width: 5%;
    height: 20px;
    background-color: #D3D3D3; /* Grey from theme */
  }
  
  .bullets {
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  .bullet {
    position: absolute;
    width: 2%;
    height: 10px;
    background-color: #FF3000; /* Red from theme */
  }
  
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #069330; /* Green from theme */
  }
  
  .homepage-link {
    color: #069330; /* Same green as game over text */
    text-decoration: underline; /* Underline for the link */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .homepage-link:hover {
    color: #045a1c; /* Darker green on hover */
  }